.judul {
    text-align: center;
}
.tabell {
    margin-left: 5%;
    margin-right: 5%;
}
.tabell table {
    width: 100%;
    table-layout: fixed;
    font-size: larger;
    padding: 10px;
    border-collapse: collapse;
    text-align: left;
}
.tabell table td {
    padding: 10px;
    width: 40px;
    word-wrap: break-word;
    margin: 2px;
    border-bottom: 1px solid #9ea5a7;
    border-right: 0.5px solid #c4d0d3;
}

.jam {
    background-color: #0e6176;
    color: white;
}

.hari {
    background-color: #066c63;
}